.tx-type-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xxs);
  line-height: 1;
  font-size: var(--font-size-xs);

  span {
    display: inline-flex;
    padding: var(--space-xxxs) var(--space-xxs);
    background: var(--blue-lightest);
    border: 1px solid var(--blue-lighter-2);
    white-space: nowrap;
  }
}
