.tx-type-wrapper {
  line-height: 1;
  font-size: var(--font-size-xs);

  span {
    display: inline-flex;
    padding: var(--space-xxxs) var(--space-xxs);
    background: var(--blue-lightest);
    border: 1px solid var(--blue-lighter-2);
    margin: 0 var(--space-xxxs);

    @media screen and (max-width: 768px) {
      margin: var(--space-xxxs);
      white-space: pre;
    }
  }
}
